# PixelBasher tool
.vscode

# Ignore build artifacts
*.o
*.d

# Ignore images
*.bmp

# Ignore generated binary
pixelbasher
unittest

# Ignore dump folders
image-dump/

# Only config-sample.json is to be committed
autobibisect/config.json
